#https://www.atlassian.com/git/tutorials/saving-changes/gitignore#git-ignore-patterns

#dependencies
**/node_modules
/.pnp
.pnp.js
package-lock.json

#testing
/coverage

#logs
**/logs

#production
/build

#misc
npm-debug.log*